* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
.chart {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
}

@media screen and (max-width: 700px) {
  .main {
    grid-template-columns: 1fr;
  }
}
